<div class="login-bg"></div>
<div class="vw-100 vh-100">
    <div class="container_input col-sm-12 d-block" id="loginPage">
      <div class="image">
        <img src="https://i.ibb.co/bRF8Mm0D/bitmap2-1.webp" alt="Geomakani" />
      </div>
      <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">
        <label for="UserName">username</label>
        <input type="text" placeholder="username" id="UserName" name="username" required [(ngModel)]="username" />
        <label for="password">Password</label>
        <input type="password" placeholder="password" id="password" name="password" required [(ngModel)]="password" />
        <div class="Message">
          <h5 class="status" *ngIf="errorMessage">{{ errorMessage }}</h5>
        </div>
        <div class="btn_1">
          <button class="btn_login1" id="login" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  